.site-footer {
  width: 100%;
  background-color: #d65230;
  font-size: 0.9rem;
  color: #fbe984;
  text-align: center;
  clear: both;
  height: 100px;
  padding: 20px;
}

.footer-content {
  max-width: 1000px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}

.site-footer nav {
  display: flex;
  gap: 10px;
  flex-wrap: wrap;
  height: 0.9rem;
}

.site-footer a {
  color: #fbe984;
  text-decoration: none;
}

.site-footer a:hover {
  text-decoration: underline;
}